/* Colors: 

Background color: #fafafa;
title-color:#4a4a4a;
header-paragragh-text: #7f7f7f;




*/

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.7;
	height: 100vh;
	font-size: 10px;
	box-sizing: border-box;
}

/* +++++++++++++ HEADER SECTION ++++++++++++++ */
/* +++++++++++++ TOP-CONTENT ++++++++++++++ */
.wrapper {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
}
.wrapper > * {
	padding: 10px;
	margin: 0px 0 10px;
	flex: 1 100%;
}

.hero-section {
	width: 100vw;
	Background-color: #fafafa;
}

h1 {
	text-align: center;
	font-size: 22px;
	font-weight: 900;
	Background: #fafafa;
}

.student-name {
	text-decoration: none;
	color: #4a4a4a;
}

.student-name:link,
.student-name:visited {
	font-size: 35px;
	background-color: #fafafa;
}

/* Navbar Section */
.navbar-container {
	padding: 10px;
	margin: 0px 0px 20px 0px;
}

.navbar {
	background-color: rgb(255, 255, 255);
	font-size: 20px;
	padding: 5px;
	margin: 8px;
}

.navbar-links:link,
.navbar-links:visited {
	color: #4a4a4a;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
}
/* border colors for identification */

/* +++++++++++++ SUB-CONTENT ++++++++++++++ */

.header-content {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	margin: 0 auto;
}

.header-img {
	width: 200px;
	margin: 0 auto;
}

.header-text {
	text-align: center;
	font-size: 15px;
	color: #7f7f7f;
}

/* +++++++++++++ MAIN SECTION ++++++++++++++ */
.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #fff;
}
